:root {
    --header-bg: hsl(240, 7%, 20%);
    --game-elem-bg: hsl(240, 7%, 25%);
    --selection: hsl(240, 7%, 35%);
    --empty-tile: hsl(240, 7%, 45%);
    --playing-tile: hsl(240, 7%, 80%);
    --played-tile: hsl(240, 7%, 90%);
    --open-tile: hsl(120, 20%, 55%);
    --open-tile-hover: hsl(120, 20%, 65%);
}

body {
    background-color: black;
    color: lavender;
    min-height: 100vh;
}

h2 {
    font-size: 1.5em;
    padding: 10px;
    margin: 0px;
    background-color: var(--header-bg);
    border-bottom: 2px solid var(--played-tile);
}

table {
    border-collapse: separate;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--empty-tile);
    color: white;
}

ul, ol {
    padding: 20px;
}

li {
    list-style-type: none;
}

.played-tile {
    background-color: var(--played-tile);
    color: black;
}

.playing-tile {
    background-color: var(--playing-tile);
    color: black;
}

.empty-tile {
    background-color: var(--empty-tile);
}

.empty-tile:hover {
    background-color: var(--empty-tile-hover);
}

.playing-hand-tile {
    background-color: var(--empty-tile);
    color: white;
}

.played-hand-tile {
    visibility: hidden;
}


.container {
    margin: auto;
    display: flex;
}

.game {
    width: fit-content;
    display: inline-block;
    padding: 20px 20px;
}

.game-element {
    background-color: var(--game-elem-bg);
    color: lavender;
    position: relative;
    height: fit-content;
    padding: 20px;
    margin: 20px;
}

.tile {
    background-color: var(--played-tile);
    color: black;
}

.tile:hover {
    background-color: var(--empty-tile);
    color: white;
}

.controls-container {
    width: 200px;
    padding: 20px;
    margin: 40px 20px;
    background-color: var(--game-elem-bg);
}

.social-container {
    width: 300px;
    margin: 20px;
}

.selected {
    background-color: var(--selection);
}

.score-container {
    font-size: 1.5em;
    margin: 50px 0px;
}

.score {
    color: var(--open-tile-hover);
}
/* TODO: DRY */
#hand {
    margin: auto;
    vertical-align: top;
}
#controls {
    width: fit-content;
    margin: auto;
}

#controls .btn {
    display: inline-block;
    width: fit-content;
    height: 40px;
    margin: 2px;
}

#rooms {
    margin: 20px;
    background-color: var(--game-elem-bg);
}

#players {
    margin: 20px;
    background-color: var(--game-elem-bg);
}