:root {
    --game-elem-bg: hsl(240, 7%, 25%);
    --empty-tile: hsl(240, 7%, 45%);
    --playable: hsl(240, 7%, 55%);
    --played-tile: hsl(240, 7%, 90%);
}

body {
    background-color: black;
    color: lavender;
    min-height: 100vh;
}

table {
    border-collapse: separate;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--empty-tile);
    color: white;
}

.played-tile {
    background-color: var(--played-tile);
    color: black;
}

.playable:hover {
    background-color: var(--playable);
}

.container {
    margin: auto;
}

.game {
    width: fit-content;
    padding: 20px 20px;
}

.game-element {
    background-color: var(--game-elem-bg);
    color: lavender;
    position: relative;
    height: fit-content;
    padding: 20px;
    margin: 20px;
}

.tile {
    background-color: var(--played-tile);
    color: black;
}

/* TODO: DRY */
#hand {
    display: inline-block;
    width: fit-content;
    vertical-align: top;
}
#controls {
    display: inline-block;
    width: fit-content;
    vertical-align: top;
    position: absolute;
    right: 20px;
}

#controls .btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
}

#players {
    width: 300px;
    position: absolute;
    bottom: 20px;
}

.aux {
    width: 350px;
    height: 100vh;
    position: fixed;
    right: 20px;
}